* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, sans-serif;
  color: #28352f;
}

nav {
  height: 48px;
  align-items: center;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
}

.nav-welcome {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.nav-links {
  display: none;
}

.btn-nav {
  background: none;
  border: none;
}

.headline {
  background-image: url(images/header-illsutration.png);
  background-size: cover;
  height: 100vh;
}

.headline-content {
  margin: 24px;
  margin-top: 0;
  color: #172b4d;
}

.headline-intro,
.headline-job {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.headline-intro {
  padding-top: 74px;
}

.headline-job {
  color: #36b37f;
  margin-bottom: 48px;
}

.headline-details {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 58px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  margin-bottom: 58px;
}

.btn-next {
  width: 40px;
  height: 40px;
  display: block;
  background: none;
  border-radius: 50%;
  border: 1px solid #dfe1e6;
  margin: 0 auto;
}

.projects {
  padding: 24px;
}

.work-sec-title {
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
  padding-bottom: 24px;
  text-align: center;
}

.indicator {
  display: flex;
  justify-content: center;
  margin-bottom: 62px;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
}

.project-card {
  height: 494px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.project-card--thumb {
  height: 260px;
  background-color: #ebf0ee;
}

.project-card--content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.project-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.project-tools {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.project-tools li {
  padding: 8px 12px;
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 12px;
  line-height: 16px;
  background-color: #ebf0ee;
  border-radius: 4px;
}

.view-project {
  display: block;
  margin: 0 auto;
  padding: 12px;
  background-color: #36b37f;
  color: #fff;
  border: none;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  border-radius: 4px;
}

.about-intro {
  height: 380px;
  background-image: url(images/about-cover.png);
  background-size: cover;
  margin-bottom: 58px;
}

.about-img-1,
.about-img-2 {
  display: none;
}

.about-intro--content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 38px;
}

.about-me {
  margin-bottom: 60px;
}

.about-me--title {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  text-align: center;
  color: #172b4d;
}

.about-me--details {
  color: #172b4d;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

.btn-resume {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  background-color: #36b37f;
  padding: 12px;
  border: none;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

.about-tools {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
  padding: 24px;
  color: #344563;
}

.about-card {
  height: 350px;
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.elipse {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  margin: 40px auto 64px auto;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
}

.about-card--title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 24px;
}

.about-card--details {
  flex-wrap: wrap;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.about-card--details li {
  padding: 12px;
  border-radius: 8px;
  background-color: #fff;
  color: #36b37f;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.contact-content {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}

.contact-img-1 {
  display: none;
}

.contact-img-2 {
  display: none;
}

.contact-img-3 {
  display: none;
}

.contact-title {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-bottom: 58px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 44px;
}

.contact-form-big {
  display: none;
}

.form-control {
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  padding: 15px 16px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.message {
  height: 114px;
  border: 1px solid #36b37f;
}

.btn-submit {
  background: none;
  background-color: #36b37f;
  color: #fff;
  padding: 12px;
  align-self: center;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
}

.contact-me .social-icons {
  margin-bottom: 18px;
}

.mail-wrapper {
  height: 190px;
  text-align: center;
  margin-bottom: 140px;
}

.contact-mail:link,
.contact-mail:visited {
  text-decoration: none;
  color: #42526e;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

@media only screen and (min-width: 768px) {
  header {
    background-image: url(images/header-llustration-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    height: 145vh;
  }

  nav {
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 160px;
  }

  .nav-welcome {
    display: none;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 24px;
  }

  .nav-link:link,
  .nav-link:visited {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #28352f;
  }

  .btn-nav {
    display: none;
  }

  .headline {
    background: none;
    margin: 0 260px;
    padding: 0 48px;
  }

  .headline-intro,
  .headline-job {
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 0.37px;
  }

  .headline-job {
    margin-bottom: 24px;
    animation-duration: 2s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .headline-details {
    padding: 0 36px;
    margin-bottom: 32px;
  }

  .social-icons {
    margin-bottom: 84px;
  }

  .linkedin-icon {
    order: 1;
  }

  .angelist-icon {
    order: 2;
  }

  .twitter-icon {
    order: 3;
  }

  .medium-icon {
    order: 4;
  }

  .btn-next {
    cursor: pointer;
    transition: width 2s;
  }

  .btn-next:hover {
    width: 20px;
  }

  .projects {
    margin-bottom: 152px;
  }

  .work-sec-title {
    padding-bottom: 0;
    margin-bottom: 52px;
  }

  .indicator {
    display: none;
  }

  .projects-container {
    margin: 0 142px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 32px;
    column-gap: 24px;
  }

  .project-card:hover,
  .btn:hover {
    transform: scale(1.05);
  }

  .project-card--content {
    padding: 0;
  }

  .project-title {
    padding: 16px;
  }

  .project-tools {
    margin: 0 32px;
    gap: 8px;
  }

  .about-me {
    margin-bottom: 164px;
  }

  .about-intro-container {
    position: relative;
  }

  .about-img-2 {
    display: block;
    position: absolute;
    left: -215px;
    bottom: -80px;
    transform: scale(0.4, 0.4);
  }

  .about-img-1 {
    display: block;
    position: absolute;
    right: -200px;
    top: -360px;
    transform: scale(0.4, 0.4);
  }

  .about-intro {
    background: none;
    height: inherit;
    margin: 0 260px;
  }

  .about-intro--content {
    gap: 24px;
  }

  .about-me--details {
    padding: 0 60px;
  }

  .about-tools {
    margin: 0 142px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
  }

  .contact-me {
    padding: 0;
    position: relative;
  }

  .contact-img-1 {
    display: block;
    transform: scale(0.3, 0.3);
    position: absolute;
    left: -220px;
    bottom: -300px;
  }

  .contact-img-2 {
    display: block;
    transform: scale(0.25, 0.25);
    position: absolute;
    left: 200px;
    bottom: 32px;
  }

  .contact-img-3 {
    display: block;
    transform: scale(0.3, 0.3);
    position: absolute;
    right: -233px;
    bottom: -450px;
  }

  .contact-content {
    margin: 0 135px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 24px;
    margin-bottom: 225px;
    padding: 0 24px;
  }

  .contact-title {
    font-size: 30px;
  }

  .contact-form {
    display: none;
  }

  .contact-form-big {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .full-name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .btn-submit {
    align-self: flex-start;
  }

  .btn {
    cursor: pointer;
  }

  .btn:hover {
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  }

  .btn:active {
    background-color: #008552;
  }

  .contact-me .social-icons {
    height: 60px;
    margin-bottom: 0;
    border-top: 1px solid #dfe1e6;
  }

  .mail-wrapper {
    display: none;
  }
}
